<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<th:block th:replace="~{/partials/navbar :: navbar}"></th:block>

<header th:replace="~{/partials/header :: header}">
  <h1>Welcome <span th:text="${user}"></span> to the Nature Zone!</h1>
  <h1 th:if="${parks.isEmpty()}">No parks have been found.</h1>
</header>
<ul>

  <!-- th:block is a ghost element that will not be rendered in the HTML structure -->
  <th:block th:each="park : ${parks}">
    <li th:text="${park.name}"></li>
    <small th:text="${park.state.name}"></small>
  </th:block>
</ul>
<footer th:replace="~{/partials/footer :: footer}" ></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>